name: Build Android APK
on:
  push:
    branches: [ main ]        # triggers عند كل push على main
  workflow_dispatch:          # يسمح بالتشغيل يدوي من GitHub

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Java 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17

    - name: Make gradlew executable
      run: chmod +x gradlew

    - name: Build release APK
      run: ./gradlew assembleRelease
      shell: bash

    - uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: app/build/outputs/apk/release/app-release.apk
        
